body.active-modal {
  overflow-y: hidden;
}

.addPC {
  position: relative; /* Ensure relative positioning for the button */
  font-family: 'Papyrus', sans-serif; /* Apply Papyrus font family */
  font-size: small;
  color: black;
  display: inline-block; /* Ensure button wraps its content */
  width: 70px;
  height: 70px;
}

.addPC img {
  display: block; /* Ensure the image fills the button */
  width: 100%; /* Ensure the image fills the button horizontally */
  height: 100%; /* Maintain aspect ratio of the image */
}

.addPC .overlay-text {
  position: absolute; /* Position the text absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the text perfectly */
  background-color: white; /* Set the background color for the text */
  padding: 1px 1px; /* Adjust padding to create a small background */
  border-radius: 1px; /* Optional: Add rounded corners for better appearance */
  z-index: 1; /* Ensure the text is on top of the background image */
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}